<h1>All Quotes</h1>
<a href="/quotes/new">➕ Add a new quote</a>
<ul>
  <% quotes.forEach(quote => { %>
    <li>
      "<%= quote.text %>" - <%= quote.author %>
      <a href="/quotes/<%= quote._id %>">View</a>
      <a href="/quotes/<%= quote._id %>/edit">Edit</a>
      <form action="/quotes/<%= quote._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
